In [ ]:
import pandas as pd

df=pd.read_csv('NetFlix.csv')

In [ ]:
#df.head()
#df.info()
#df.describe()
df.isna().sum()
#df.duplicated().sum()

show_id            0
type               0
title              0
director        2389
cast             718
country          507
date_added        10
release_year       0
rating             7
duration           0
genres             0
description        0
dtype: int64

In [ ]:
df.isna().sum() / len(df) * 100

show_id          0.000000
type             0.000000
title            0.000000
director        30.679337
cast             9.220496
country          6.510851
date_added       0.128419
release_year     0.000000
rating           0.089893
duration         0.000000
genres           0.000000
description      0.000000
dtype: float64

In [ ]:
df['description'].nunique()

7769

In [ ]:
#df.duplicated().sum()
df['title'].duplicated().sum()

np.int64(0)

In [ ]:
df=df[['title', 'description', 'type', 'genres', 'cast', 'director']]

In [ ]:
df

,title,description,type,genres,cast,director,combined_cols
0,3%,In a future where the elite inhabit an island ...,TV Show,"International TV Shows, TV Dramas, TV Sci-Fi &...","João Miguel, Bianca Comparato, Michel Gomes, R...",Unknown,in a future where the elite inhabit an island ...
1,1920,An architect and his wife move into a castle t...,Movie,"Horror Movies, International Movies, Thrillers","Rajneesh Duggal, Adah Sharma, Indraneil Sengup...",Vikram Bhatt,an architect and his wife move into a castle t...
2,3 Heroines,Three Indonesian women break records by becomi...,Movie,"Dramas, International Movies, Sports Movies","Reza Rahadian, Bunga Citra Lestari, Tara Basro...",Iman Brotoseno,three indonesian women break records by becomi...
3,Blue Mountain State: The Rise of Thadland,New NFL star Thad buys his old teammates' belo...,Movie,Comedies,"Alan Ritchson, Darin Brooks, James Cade, Rob R...",Lev L. Spiro,new nfl star thad buys his old teammates' belo...
4,Blue Planet II,This sequel to the award-winning nature series...,TV Show,"British TV Shows, Docuseries, Science & Nature TV",David Attenborough,Unknown,this sequel to the award-winning nature series...
...,...,...,...,...,...,...,...
7782,Blown Away,Ten master artists turn up the heat in glassbl...,TV Show,"International TV Shows, Reality TV",Unknown,Unknown,ten master artists turn up the heat in glassbl...
7783,Blue Exorcist,Determined to throw off the curse of being Sat...,TV Show,"Anime Series, International TV Shows","Nobuhiko Okamoto, Jun Fukuyama, Kana Hanazawa,...",Unknown,determined to throw off the curse of being sat...
7784,Blue Is the Warmest Color,"Determined to fall in love, 15-year-old Adele ...",Movie,"Dramas, Independent Movies, International Movies","Léa Seydoux, Adèle Exarchopoulos, Salim Kechio...",Abdellatif Kechiche,"determined to fall in love, 15-year-old adele ..."
7785,Blue Jasmine,The high life leads to high anxiety for a fash...,Movie,"Comedies, Dramas, Independent Movies","Cate Blanchett, Sally Hawkins, Alec Baldwin, L...",Woody Allen,the high life leads to high anxiety for a fash...
7786,Blue Jay,Two former high school sweethearts unexpectedl...,Movie,"Dramas, Independent Movies, Romantic Movies","Sarah Paulson, Mark Duplass, Clu Gulager",Alex Lehmann,two former high school sweethearts unexpectedl...

In [ ]:
df=df.fillna('Unknown')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7787 entries, 0 to 7786
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        7787 non-null   object
 1   description  7787 non-null   object
 2   type         7787 non-null   object
 3   genres       7787 non-null   object
 4   cast         7787 non-null   object
 5   director     7787 non-null   object
dtypes: object(6)
memory usage: 365.1+ KB

In [ ]:
df = df.reset_index(drop=True)
df['combined_cols']=(df['description']*2 + ' ' + df['genres']*3 + ' ' + df['cast'] + ' ' + df['director']).str.lower()
df.head()

,title,description,type,genres,cast,director,combined_cols
0,3%,In a future where the elite inhabit an island ...,TV Show,"International TV Shows, TV Dramas, TV Sci-Fi &...","João Miguel, Bianca Comparato, Michel Gomes, R...",Unknown,in a future where the elite inhabit an island ...
1,1920,An architect and his wife move into a castle t...,Movie,"Horror Movies, International Movies, Thrillers","Rajneesh Duggal, Adah Sharma, Indraneil Sengup...",Vikram Bhatt,an architect and his wife move into a castle t...
2,3 Heroines,Three Indonesian women break records by becomi...,Movie,"Dramas, International Movies, Sports Movies","Reza Rahadian, Bunga Citra Lestari, Tara Basro...",Iman Brotoseno,three indonesian women break records by becomi...
3,Blue Mountain State: The Rise of Thadland,New NFL star Thad buys his old teammates' belo...,Movie,Comedies,"Alan Ritchson, Darin Brooks, James Cade, Rob R...",Lev L. Spiro,new nfl star thad buys his old teammates' belo...
4,Blue Planet II,This sequel to the award-winning nature series...,TV Show,"British TV Shows, Docuseries, Science & Nature TV",David Attenborough,Unknown,this sequel to the award-winning nature series...

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
tfidf = TfidfVectorizer(stop_words='english', max_features=5000)
tfidf_matrix = tfidf.fit_transform(df['combined_cols'])
print("TF-IDF Matrix Shape:", tfidf_matrix.shape)

TF-IDF Matrix Shape: (7787, 5000)

In [ ]:
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)
print("Cosine similarity matrix shape:", cosine_sim.shape)

indices = pd.Series(df.index, index=df['title'].str.lower()).drop_duplicates()

Cosine similarity matrix shape: (7787, 7787)

In [ ]:
def recommend(title, cosine_sim=cosine_sim):
    title=title.lower()
    if title not in indices:
        return f"❌ '{title}' not found in dataset."

    # Get the index of the given title
    idx = indices[title]

    # Find type of the input title (Movie or TV Show)
    input_type = df.iloc[idx]['type']

    # Get pairwise similarity scores for this title
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort by similarity score
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)[1:]

    recommendations = []
    for i, score in sim_scores:
        # Only add items of the same type
        if df['type'].iloc[i] == input_type:
            recommendations.append((df['title'].iloc[i], round(float(score), 2)))
        if len(recommendations) == 5:  # top 5
            break

    return recommendations

In [ ]:
print(f"Here are recommendations based on your choice of movie : {recommend("blue exorcist")}")

Here are recommendations based on your choice of movie : [('Food Wars!: Shokugeki no Soma', 0.3), ('KENGAN ASHURA', 0.29), ('Attack on Titan', 0.28), ("JoJo's Bizarre Adventure", 0.28), ('Durarara!!', 0.27)]